* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.task-card {
  padding: 6px;
  display: flex;
  justify-content: space-between;
  border: 1px #333 solid;
  border-radius: 3px;
  margin-bottom: 8px;
}

.task-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.remove-button {
  background: rgb(202, 32, 89);
  border: none;
  color: #fff;
  font-weight: 500;
  padding: 3px 5px;
  border-radius: 3px;
  height: 25px;
}

.card-box {
  padding: 5px;
}

.task-info {
  padding: 5px;
  display: flex;
  gap: 15px;
  font-weight: 300;
}

.action-buttons {
  display: flex;
  gap: 5px;
  padding: 5px;
}

.completed-task {
  text-decoration: line-through;
  border: 2px #1add0c solid;
  border-radius: 4px;
}
